body {
  width: 100%;
}

h1 {
  text-align: center;
}
.movies {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 60%;
}
.movie {
  border: 2px solid blue;
  width: 45%;
}
